.App {
  text-align: center;
  background: linear-gradient(0deg, rgba(15, 15, 15,1) 0%, rgba(32, 32, 34, 1) 50%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  margin-bottom: 70px;
}

.row.centered {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.padded {
  padding: 15px !important;
}

.img-header {
    max-width: 80%;
    height: calc(1.5em + .75rem + 2px) !important;
}