.footer {
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    height: 60px;
    font-size: 70%;
    background-color:black;
    display:flex;
    justify-content: center;
    align-items: center;
}

#spotify-logo-footer {
    max-width: 80%;
    /* min-width:70px specified by spotify branding guidelines */
    min-width:70px;
    height: 1.5rem;
}

#ticketmaster-logo-footer {
    max-width: 80%;
    min-width:70px;
    height: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--color-primary-0) !important;
    opacity: 1;
}

a:hover {
    opacity: .7;
    transition: .3s ease;
}

.spaced {
    justify-content: space-between;
}

/* .centered {
    justify-content: center;
} */