.form-row {
    /* text-align: center;
    background-color: rgb(32, 32, 34);
    min-height: 100vh;
    display: flex; */
    /* flex-direction: column !important; */
    align-items: center !important;
    justify-content: center !important;
    /* font-size: calc(10px + 2vmin); */
    /* color: white; */
  }

  .form-group {
      margin-bottom: 0px !important;
  }

  .form-control:focus {
    box-shadow: 0 0 0 0.2rem var(--color-primary-0) !important;
  }