a:hover {
    text-decoration: none !important;
}

#popover-basic {
    margin-top: 40px;
}

#user-profile-header {
    border-radius: 50%;
    background-color: black;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#user-profile-header:hover {
    opacity: .7;
    transition: .3s ease;
}