.modal-header, .modal-footer {
    text-align: center;
    background-color: rgb(32, 32, 34);
    border-bottom: 0px !important;
    border-top: 0px !important;
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* font-size: calc(10px + 2vmin); */
    color: white;
}

.modal-body, .modal-content {
    text-align: center;
    background-color: rgb(32, 32, 34);
    border:0px !important;
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* font-size: calc(10px + 2vmin); */
    color: white;
}

.modal-artist {
    color:white;
}

.modal-image {
    height: 100%;
    min-width: 100%;
    max-width: none;
    margin: 0 -100%;
}

.modal-image-container {
    border-radius: 10px;
    height: 20rem;
    width: 20rem;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}

.view-first img { 
    transition: all 1s linear;
}
.view-first .mask {
    position: relative;
    top: -20rem;
    height:100%;
    opacity: .3;
    background-color: rgba(52, 55, 209, .7); 
    transition: all 1s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: .3;
    transition: all 1s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: .3;
	transition: all 1s linear;
}
.view-first h3{
    opacity: .3;
	transition: all 1s ease-in-out;
}

.view-first:hover img { 
    transform: scale(1.1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
} 
.view-first:hover .mask { 
	opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover h3 {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover h3 {
    transition-delay: 0.2s;
}