.centered {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

iframe {
    height: 570px;
}

.navBar {
    margin-top: 20px;
}

@media only screen and (max-width:768px) {
    .navBar {
        justify-content: center;
    }

    .col-margin-v {
        margin: 10px 10px;
    }

}