.centered {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

iframe {
    height: 570px;
}

/* .navBar {
    background-color: var(--color-primary-2);
} */